 .container-fluid{
    display: flex;
    flex-direction: row;
    height:767px;
    width: 100%;
}
.leftDiv{
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
    align-items:center;
    box-sizing: border-box;
    width:285px;
   
  }
  .rightDiv{
    position: relative;
  }
  .div1{
    height:160px;
    width:285px;
    display: flex;
    justify-content:flex-end;
    align-items: center;

  }
  .logoBorder{
    border: solid 1px #44d7b6;
    height:46px;
    width:143px;
    display: flex;
    align-items: center;
    justify-content:center;
  }
  .logo1{
    font-family: verdana, arial, helvetica;
    font-size: 23px;
    font-weight: bold;
    text-align: center;
    color: #32c5ff;
    height:32px;
   width: 66px; 
    }
  .div2{
      height:608px;
      width: 285px;
     
  } 
  .image{
    height: 100%;
    width: 393px;
    
   }

  .heading{
      margin-top:200px;
    
  }
  .bell{
    width: 30px;
  height: 40px;
  margin-top:5px;
  display:flex;
}
.help{
  width: 24px;
  height: 15px;
  margin: 0 0 1px 8px;
  font-family: SourceSansPro;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.21;
  letter-spacing: -0.05px;
  color: #0077c7;
}
.bradanWright{
  width: 82px;
  height: 15px;
  margin: 5px 7px 9px 0;
  font-family: SourceSansPro;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: right;
  color: #0077c7;

}
.br{
  width: 28px;
  height: 28px;
  padding: 2px 2px 4px 4px;
  border: solid 1px #0077c7;
  background-color: #ffffff;
  border-radius: 14px;
 
}
.line{
  width: 2px;
  height: 16px;
  margin: 4px 9px 9px 6px;

}
.div12{
  display:flex;
  float: right;
  padding-top: 20px;
  left: 100px;
}


  .packinglist {
    width: 129px;
  height: 113px;
  margin: 93px 10px 10px 1px;
  padding: 16px 20px 13px;
  border-radius: 2px;
  box-shadow: 0 0 1px 0 rgba(127, 127, 127, 0.47);
  border: solid 1.7px #7840e1;
  background-color: #ab7fff;
  }
  .place-An-order{
    width: 89px;
    height: 15px;
    margin: 9px 0 0;
    font-family: SourceSansPro;
    font-size: 8px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
  }
  
  .trolley1{
    width: 129px;
    height: 113px;
    margin: 93px 10px 10px;
    padding: 18px 30px 13px;
    border-radius: 2px;
    border: solid 0.7px #e5e8ee;
    background-color: #ff7676;
  
  }
  .MY-ORDER {
    width: 54px;
    height: 15px;
    margin: 10px 7px 0 8px;
    font-family: SourceSansPro;
    font-size: 8px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
  }

  .box{
    width: 129px;
    height: 113px;
    margin: 93px 115px 10px 10px;
    padding: 17px 34px 13px 35px;
    border-radius: 2px;
    border: solid 0.7px #e5e8ee;
    background-color: #21cfa2;
    
  }
  .INVENTORY {
    width: 60px;
    height: 15px;
    margin: 8px 0 0;
    font-family: SourceSansPro;
    font-size: 12px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
  }
  .row4{
    display: flex;
  }
 .RECTANGLE{
  width: 204px;
  height: 57px;
  margin: 10px 0 0;
  padding: 12px 45.5px 13px 14px;
  background-color: #e1f2fe;
 }
 .On-site-Delivery {
  width: 81px;
  height: 15px;
  margin: 9px 0 8px 17.5px;
  font-family: SourceSansPro;
  font-size: 10px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #232323;
}
.Return {
  width: 36px;
  height: 15px;
  margin: 10px 0 8px 27px;
  font-family: SourceSansPro;
  font-size: 12px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #232323;
}
.row5{
  display: flex;
}
.RECTANGLE2{
  width: 204px;
  height: 57px;
  margin: 10px 0 0;
  padding: 12px 45.5px 13px 14px;
  background-color: #ffffff;
 }
 .Rectangle-Copy-5 {
  width: 204px;
  height: 4px;
  margin: 67px 0 34px;
  background-color: #f9a426;
}
.btn{
  width: 174px;
  height: 38px;
  margin: 34px 17px 0 115px;
  padding: 11px 17px 9px 22px;
  border-radius: 2px;
  background-color: #1890ff;
}
.arrow{
  width: 12px;
  height: 12px;
  object-fit: contain;
  background-color: #ffffff;

}

.footer1{
width:100%;
height: 35px;
background-color: #4b6abd;
position:absolute;
bottom:1px;
left:-215px;
display:flex;
justify-content:center;
align-items:center;




}
.footerline{
  width: 182px;
  height: 14px;
  font-family: OpenSans;
  font-size: 10px;
  font-weight: 600;
 
  text-align: center;
  color: #efefef;
}
  
  

  



  
  
  
   