nav{
  height: 90px;
  background-color:rgb(14, 3, 32);
  display:flex;
  justify-content: flex-end;
  
}


.ul {
  display:flex;
  align-items: center;
  color:white;
  height: 100%;
  list-style-type: none;
  margin-right: 20px;
  font-size: 25px;


}

.pagelink{
  color:white;
  text-transform: uppercase;
  text-decoration: none;
  padding:10px;

}
.pagelink:hover{
  background-color:skyblue;
  color:navy;
  font-weight:bold;
  border-radius: 8px;
}


